[submodule "Node Core/Cryptography/Core References/bitcoin--bitcoin"]
	path = Node Core/Cryptography/Core References/bitcoin--bitcoin
	url = https://github.com/bitcoin/bitcoin.git

[submodule "Node Core/Cryptography/Core References/bitcoin-core--secp256k1"]
	path = Node Core/Cryptography/Core References/bitcoin-core--secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git

[submodule "Node Core/Cryptography/Core References/jedisct1--libsodium"]
	path = Node Core/Cryptography/Core References/jedisct1--libsodium
	url = https://github.com/jedisct1/libsodium.git

[submodule "Node Core/Cryptography/Core References/lightning--bolts"]
	path = Node Core/Cryptography/Core References/lightning--bolts
	url = https://github.com/lightning/bolts.git

[submodule "Node Core/Cryptography/Core References/lightningnetwork--lnd"]
	path = Node Core/Cryptography/Core References/lightningnetwork--lnd
	url = https://github.com/lightningnetwork/lnd.git

[submodule "Node Core/Cryptography/External References/gpg--gpgme"]
	path = Node Core/Cryptography/External References/gpg--gpgme
	url = https://github.com/gpg/gpgme.git

[submodule "Node Core/Cryptography/External References/gpg--poldi"]
	path = Node Core/Cryptography/External References/gpg--poldi
	url = https://github.com/gpg/poldi.git

[submodule "Node Core/Cryptography/External References/openpgpjs--openpgpjs"]
	path = Node Core/Cryptography/External References/openpgpjs--openpgpjs
	url = https://github.com/openpgpjs/openpgpjs.git

[submodule "Node Core/Cryptography/External References/pgpainless--pgpainless"]
	path = Node Core/Cryptography/External References/pgpainless--pgpainless
	url = https://github.com/pgpainless/pgpainless.git
